@import "tailwindcss";

body {
    background-color: #F9FAFB;
    margin: 0;
    padding: 0;
}

@theme {
    --animate-orbit: orbit var(--orbit-duration) linear infinite;

    @keyframes orbit {
        0% {
            transform: rotate(0deg) translateX(var(--translate-position)) rotate(0deg);
        }

        100% {
            transform: rotate(360deg) translateX(var(--translate-position)) rotate(-360deg);
        }

    }


}

.animate-orbit {
    animation: orbit var(--orbit-duration) linear infinite;
    transform-origin: center center;
}

